{%extends 'base.html'%}
{%block body%}


{%for o in orders%}
<section class="py-5" >
    <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-center">
            <div class="col-md-4">
                {%if o.product.image%}
                <img class="card-img-top mb-5 mb-md-0" src="{{o.product.image.url}}" alt="..." / height="350px">
                {%else%}
                <img class="card-img-top mb-5 mb-md-0" src="https://dummyimage.com/600x700/dee2e6/6c757d.jpg" alt="..." />
                {%endif%}
            </div>
            <div class="col-md-4">
                <div class="small mb-1"></div>
                <h4 class="display-7 fw-bolder">{{o.product.product_name}}</h4>
                <div class="fs-5 mb-5">
                   
                    <p>RS : {{o.product.offer_price}}/-</p>
                    <p>Expecting delivery date : {{o.expected_deliverydate}}/-</p>
                    <p>Status : {{o.status}}</p>
                </div>
                
            </div>
            <div class="col-md-4">
                
                <a href="{%url 'cancel-order' o.id %}" class="btn btn-outline-danger">Cancel order</a>
                <a href="{%url 'review-add' o.product.id %}" class="btn btn-outline-info">Add Your Review</a>
                
            </div>
        </div>
    </div>
</section>
{%endfor%}
{%endblock%}